.banner {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black-light);
  color: var(--white);
  padding: 0.5rem 0;
  height: var(--banner-height);

  &__logo{
    margin-left: 2em;
    align-self: center;
    cursor: pointer;
    img{
      width: 100px;
    }
  }
  &__title{
    align-self: center;
  }

  &__menu-toggle{
    display: block;
    margin-right: 2em;
    background-color: transparent;
    fa-icon{
      color: var(--white);
      font-size: 1.5rem;
    }
  }

  &__nav {
    position: absolute;
    top: -100vh;
    right: 0;
    width: 100%;
    overflow: hidden;
    height: 50vh;
    transition: all 0.5s ease;
    background-color: var(--black-dark);
    z-index: 2;

    &-list{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2em;
      width: 100%;
      height: 100%;
    }
  }

  &__nav.active{
    visibility: visible;
    top: 50px;
  }


  @media (min-width: 768px) {
    &__menu-toggle{
      display: none;
    }

    &__logo{
      img{
        width: 120px;
      }
    }

    &__nav {
      position: static;
      width: auto;
      height: auto;
      display: block;
      background-color: transparent;
      margin-right: 2em;
      &-list{
        height: auto;
        flex-direction: row;
        flex-wrap: nowrap;
      }
    }
    &__nav.active{
      height: auto;
    }
  }
}
