<section class="formtask">
  <h2>Crear tarea</h2>
  <div class="formtask__wrapper">

    <form [formGroup]="formTask" class="form" (ngSubmit)="onSubmit()">
      <div class="form-field">
        <input
          type="text"
          placeholder="Nombre de la tarea"
          formControlName="taskName"
        />

        <div *ngIf="formTask.get('taskName')?.invalid && formTask.get('taskName')?.touched" >
          <div *ngIf="formTask.get('taskName')?.hasError('minlength')" style="color: red;">
            El nombre debe tener al menos 5 caracteres.
          </div>
          <div *ngIf="formTask.get('taskName')?.hasError('required')" style="color: red;">
            Este campo es requerido.
          </div>
        </div>
      </div>

      <div class="form-field">
        <input
          type="date"
          placeholder="Ingresa una fecha"
          formControlName="taskDate"
        />

        <div *ngIf="formTask.get('taskDate')?.invalid && formTask.get('taskDate')?.touched" >
          <div *ngIf="formTask.get('taskDate')?.hasError('dateValidator')" style="color: red;">
            La fecha debe tener dia/mes/año.
          </div>
          <div *ngIf="formTask.get('taskDate')?.hasError('required')" style="color: red;">
            Este campo es requerido.
          </div>
        </div>
      </div>

      <hr>

      <div class="form-grid" formArrayName="persons">

        <div class="form-field" *ngFor="let person of getCtrl('persons', formTask).controls; index as formChild" >
          <div class="form-block" [formGroupName]="formChild">
            <div class="form-field">
              <input
                type="text"
                placeholder="Nombre completo"
                formControlName="personName"
              />

              <div *ngIf="person.get('personName')?.invalid && person.get('personName')?.touched" >
                <div *ngIf="person.get('personName')?.hasError('minlength')" style="color: red;">
                  El nombre debe tener al menos 5 caracteres.
                </div>
                <div *ngIf="person.get('personName')?.hasError('required')" style="color: red;">
                  Este campo es requerido.
                </div>
              </div>
            </div>

            <div class="form-field">
              <input
                type="number"
                placeholder="Edad"
                formControlName="age"
              />

              <div *ngIf="person.get('age')?.invalid && person.get('age')?.touched" >
                <div *ngIf="person.get('age')?.hasError('min')" style="color: red;">
                  Debe ser mayor de 18 años.
                </div>
                <div *ngIf="person.get('age')?.hasError('required')" style="color: red;">
                  Este campo es requerido.
                </div>
              </div>
            </div>

            <div class="form-grid" formArrayName="personSkills">
              <div *ngFor="let skill of person.get('personSkills').controls; index as skillFormReference">
                <div class="form-field-compose">
                  <input
                    type="text"
                    placeholder="Habilidades"
                    [formControlName]="skillFormReference"
                  />
                  <button class="form-btn form-field-compose-btn" (click)="removeSkill(formChild, skillFormReference)">
                    <fa-icon [icon]="faTrash"></fa-icon>
                  </button>
                </div>

              </div>
            </div>

            <div class="form-person-controls">
              <button class="form-btn btn-success" (click)="addSkill(formChild)" type="button">Agregar Skill</button>
              <button class="form-btn btn-danger" (click)="deletePerson(formChild)" type="button">Eliminar Persona</button>
            </div>

          </div>
        </div>
      </div>

      <div class="task__controls">
        <button (click)="addPerson()" type="button" class="form-btn btn-blue">Agregar Persona</button>
        <!-- [disabled]="!formTask.valid" -->
        <button class="form-btn btn-black" type="submit">Crear tarea</button>
      </div>


    </form>
  </div>
</section>
