<section style="height: 100vh; background-color: aquamarine;">
  <div class="main-wrapper">
    <div class="wrapper">
      <button (click)="addPerson()" type="button">Agregar Persona</button>

      <form [formGroup]="formTask" class="form-parent" (ngSubmit)="onSubmit()">
        <div class="form-field">
          <input
            type="text"
            placeholder="Nombre de la tarea"
            [formControlName]="'taskName'"
          />

          <!-- <div *ngIf="formTask.get('taskName')?.touched && formTask.get('taskName')?.hasError('required') && formTask.get('taskName')?.errors?.['required']" >
            Este campo es requerido.
          </div> -->

          <div *ngIf="formTask.get('taskName')?.touched">
            <div *ngIf="formTask.get('taskName')?.hasError('required')">
              Este campo es requerido.
            </div>
            <div *ngIf="formTask.get('taskName')?.hasError('minLength')">
              El nombre debe tener al menos 5 caracteres.
            </div>
          </div>

        </div>

        <div class="form-field">
          <input
            type="date"
            placeholder="Ingresa una fecha"
            formControlName="taskDate"
          />
        </div>

        <div class="form-grid" formArrayName="persons">

          <div class="form-field" *ngFor="let person of getCtrl('persons', formTask).controls; index as formChild" >
            <!-- formGroupName es el nombre de referencia del input -->
            <!-- formChild es el indice -->
            <div class="form-block" [formGroupName]="formChild">
              <div class="form-field">
                <input
                  type="text"
                  placeholder="Nombre completo"
                  formControlName="personName"
                />
              </div>

              <div class="form-field">
                <input
                  type="number"
                  placeholder="Edad"
                  formControlName="age"
                />
              </div>

              <div class="form-grid" formArrayName="personSkills">
                <div *ngFor="let skill of person.get('personSkills').controls; let skillFormReference = index">
                  <div class="form-field">
                    <input
                      type="text"
                      placeholder="Habilidades"
                      [formControlName]="skillFormReference"
                    />
                  </div>
                  <button (click)="removeSkill(formChild, skillFormReference)">Eliminar</button>
                </div>
              </div>

              <!-- indice y la propiedad que deseo modificar language -->
              <button (click)="addSkill(formChild)" type="button" style="background-color: rgb(70, 92, 8); color: white;">Agregar Skill</button>
              <button (click)="deletePerson(formChild)" type="button" style="background-color: rgb(92, 8, 8); color: white;">Eliminar Persona</button>

            </div>
          </div>
        </div>

        <div class="task__controls">
          <button (click)="addPerson()" type="button" style="background-color: rgb(57, 92, 8); color: white;">Agregar Persona</button>
        </div>

        <p>Complete the form to enable button.</p>
        <!-- [disabled]="!formTask.valid" -->
        <button type="submit">Submit</button>
      </form>
    </div>
    <div class="wrapper">
      <div>
        <b>Es valido el fomulario?: </b>
        <span *ngIf="formTask.valid">✔</span>
        <span *ngIf="!formTask.valid">🔴</span>
      </div>
      <pre>{{ formTask.value | json }}</pre>
    </div>
  </div>

</section>
