/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import './styles/main';
:root{
  --black-light: #282828;
  --black-dark: #0c0c0c;
  --blue-light: #1e53af;
  --blue-dark: #1e40af;
  --white: #ffffff;
  --gray: #f0efef;
  --success: rgb(75, 255, 47);
  --success-dark: rgb(47, 255, 186);
  --danger: rgb(190, 64, 33);
  --danger-dark:rgb(255, 89, 47);
}

html {
  font-size: 16px;
  box-sizing: border-box;
 -webkit-tap-highlight-color: transparent
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 1rem;
}

h1{
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  h1{
    font-size: 1.5rem;
  }
}
@media (min-width: 1024px) {
  h1{
    font-size: 1.7rem;
  }
}

h2{
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  h2{
    font-size: 1.5rem;
  }
}
@media (min-width: 1024px) {
  h2{
    font-size: 1.7rem;
  }
}

p {
  font-size: 1rem;
  margin: 0;
}

img{
  max-width: 100%;
}
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
  display: block;
}

a:active {
  outline: 0
}

a:hover {
  outline: 0
}

ul{
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}
li{
  list-style: none;
}
button{
  cursor: pointer;
}

section{
  height: auto;
  min-height: 100vh;
  width: 100%;
}

.btn{
  padding: 1em 2em;
  border: 1px solid white;
  border-radius: 25px;
  transition: all 0.5s ease;
}

.active--link{
  text-decoration: underline;
}

.btn:hover{
  text-decoration: underline;
}

