.task-page{
  background-color: rgb(201, 127, 36);
  padding-bottom: 25px;
}

.task-filters{
  width: 100%;
  background-color: burlywood;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 1em 2em;
}

.task-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.task-list__item{
  width: 45vw;
  margin: 1em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--black-light);
  border-radius: 20px;
  color: white;
  overflow-x: hidden;
}

.task__complete,
.task__incomplete{

  padding: 5px;
  border: none;
  border-radius: 15px;
  padding: 0.5rem 1rem;
}
.task__complete{
  background-color: greenyellow;
  color: black;
}
.task__incomplete{
  background-color: rgb(255, 89, 47);
  color: white;
}
.task-header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(17, 61, 61);
  width: 100%;
  padding: 1rem 2rem;
}
.task-list__item__persons__person{
  padding: 1rem 2rem;
}
