<section class="task-page">

  <div class="task-filters">
    <li class="task__filters__option" (click)="taskReset()">Todas</li>
    <li class="task__filters__option" (click)="taskFilterComplete()">Completadas</li>
    <li class="task__filters__option" (click)="taskFilterPending()">Pendientes</li>
  </div>


  <div class="task-list">

    <div class="task-list__item" *ngFor="let task of taskListView">
      <header class="task-header">
        <p class="task-list__item__complete" [ngClass]="task.complete? 'task__complete': 'task__incomplete'">{{ task.complete }}</p>
        <p class="task-list__item__name">{{ task.taskName }}</p>
        <p class="task-list__item__date">{{ task.taskDate }}</p>
      </header>
      <!-- <p class="task-list__item__id">{{ task.id }}</p> -->

      <div class="task-list__item__persons" *ngIf="task.persons.length > 0">
        <div class="task-list__item__persons__person" *ngFor="let person of task.persons">
          <!-- <p class="task-list__item__persons__person__id">{{ person.id }}</p> -->
          <p class="task-list__item__persons__person__name">{{ person.personName }} <span>({{ person.age }})</span></p>
          <p class="task-list__item__persons__person__skills">{{ person.personSkills }}</p>
          <br>
        </div>
      </div>


    </div>
  </div>
</section>
