.task{
  background-color: var(--gray);
  padding-bottom: 25px;

  &-filters{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 1em 2em;
  }

  &-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &-list-item{
    width: 90%;
  }
}
